body{
    background-color:pink;
    font-size: large;
}

h1{
    background-color: yellow;
    text-align: center;
    color: red;
}

img{
    display: block;
    margin: auto; 
    width: 400px;
    height: auto;
}

h1,h2,h3,h4{
    color: red;
}

a{
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    margin: 8px;
}