body{
    background-color: lightblue;
}

h1{
    text-align: center;
    background-color: blue;
    padding: 10px;
}

a{
    display: inline-block;
    background-color: green;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
    margin: 8px;
}